.store_h2 {
  margin-top: 2.5rem;
  border-left: 8px solid #4957f1;
  padding: 1rem 0 1rem 1rem;
}
.store_buy {
  display: flex;
  width: 100%;
}

.store_buy a {
  justify-content: center;
  display: flex;
  padding: 0.25rem 0;
  width: 100%;
}
.card-text {
  font-size: 1.5rem;
  padding-bottom: 2rem;
}
.text_end_div {
  /* display: flex; */
  flex-direction: column;
}
.text_end {
  padding-top: 1rem;
  margin-top: auto;
  font-size: 1rem;
}
.page-link span {
  color: #0a58ca;
}
.page_nav {
  display: flex;
  justify-content: center;
}

.myclass {
  display: inline-block;
}
.card_bg {
  /* margin-top: 0; */
  /* background-color: rgba(83, 83, 83, 0.8); */
  padding-bottom: 1rem;
  border-radius: 5px;
}
